:root {
    --primary: #1A237E;
    --primary-dark: #0F154A;
    --primary-light: #9FA8DA;
    --gray: #4F4F4F;
    --gray-dark: #212121;
    --gray-light: #9E9E9E;
    --light: #FAFAFA;
    --space: 20px;
    --space2x: 40px;
    --space3x: 60px;
    --space4x: 80px;
    --space5x: 100px;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
}
